<div class="h-100 w-100 flex flex-column stretch">

    <form nz-form [nzLayout]="'vertical'">
        <nz-form-item>
          <nz-form-label class="text-left" [nzSm]="12">Mapping Template</nz-form-label>
          <nz-form-control [nzSm]="12">
              <nz-select (ngModelChange)="onTemplateSelected($event)" [ngModel]='data.template_id' style="width: 250px;" name="pipeline" nzPlaceHolder='Select Mapping Template'>
                <nz-option *ngFor='let o of templates$ | async' [nzValue]='o.template_id' [nzLabel]='o.name'></nz-option>     
              </nz-select>
          </nz-form-control>
        </nz-form-item>
    </form>

    <div class="targets">
        <nz-card class="h-100 w-100 flex stretch">
          <div class="sources-items">
            <div class="target-title flex between">
              <div>
                TARGET FIELDS
              </div>
              <div>
                <input nz-input placeholder="Search" nzSize="default" [(ngModel)]="searchTarget" />
              </div>
            </div>
            <div class="scroll-box">
              <div class="source-list">
                <div class="target-item-box"
                  *ngFor="let item of (mappingFields$|async | keyFilter: 'label' :searchTarget) ; let i = index;"
                  [class.mandatory-row]="item.mandatory">
                  <div class="mapped-item-list">
                    <div nz-row>
                      <div nz-col nzSpan="12">
                        <input style="width: 200px;" nz-input [attr.placeholder]="item.label + ' Source'" nzSize="default" [(ngModel)]="mapping[item.target]" />
                        <!-- <nz-tag *ngIf="item.value" nzMode="closeable" [nzColor]='item.inError?"red":""'
                          (nzOnClose)="onRemoveClick(item)">{{item.value}}</nz-tag> -->
                      </div>
                      <div nz-col nzSpan="12">
                        <span [class.mandatory]="item.mandatory" nz-tooltip [nzTooltipTitle]="item?.description"
                          nzTooltipPlacement="left">
                          {{item.label}} <span class="text-muted">({{item.category}})</span> <nz-tag> {{item.cardinality}} </nz-tag>
                          <span *ngIf="item.mandatory">*</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
            
            <!-- <div class="mapping-information border">
              <nz-alert *ngIf="!(mappingValid$ | async)" nzType="error"
                nzMessage="This mapping is invalid with this worksheet. Update it or use another one." nzShowIcon>
              </nz-alert>
              <nz-alert *ngIf="(mandatories$ | async)" nzType="error"
                [nzMessage]="(mandatories$ | async) + ' mandatory fields left.'" nzShowIcon></nz-alert>
              <nz-alert *ngIf="!(mandatories$ | async) && (mappingValid$ | async)" nzType="success"
                nzMessage="All mandatory fields are mapped" nzShowIcon></nz-alert>
            </div> -->
          </div>
        </nz-card>
      </div>
</div>



